<h3 class='ui header center aligned column'>Choose Nonbasics</h1>

<div class="ui items">
  <div class='ui four column grid'>
    <% lands.each.with_index do |land, index| %>
      <div class='left aligned column'>
        <div class="item" id="nonbasic-land-checkbox-<%= "#{land.multiverse_id}-#{land.colors.join('-')}" %>">
          <%= label_tag "non_basic_lands_#{land.multiverse_id}" do  %>
            <%= check_box_tag "non_basic_lands[]", land.multiverse_id, false,
              {id: "non_basic_lands_#{land.multiverse_id}", class: 'hidden'}%>

            <div class="ui image">
            
              <img src=<%= land.image_url %>>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>