<div class='ui main text container' id='calculation-form'>
  <h1 class='ui header'>Manabases calculated</h1>

  <p>You asked for <%= @requirement_description %> by turn <%= @turn %></p>

  <p>The following mana configurations are the most optimal for your requirements:</p>

  <table class="ui celled table">
    <thead>
      <tr>
      <% @mana_bases.map(&:keys).uniq.flatten.map(&:to_s).each do |column_title| %>
        <th><%= column_title %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'mana_base', collection: @mana_bases %>
    </tbody>
  </table>
</div>
